

<div >
    <h1>
      DRAGONBALL
    </h1>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/users">Users</a></li>
      <li><a routerLink="/visualize">Visualize</a></li>
    </ul>
    
  </div>
<router-outlet></router-outlet>
